body{
    overflow-x: hidden;
}
.card {
  position: relative;
  width: 300px;
  background: linear-gradient(145deg, #fff2e6, #ffd3a6);
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 10px 20px rgba(234, 147, 7, 0.29);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: auto;
  &&:hover {
  transform: translateY(-4px);
  box-shadow: 0 18px 50px rgba(240, 83, 4, 0.723); 
}
}
.cover-wrap {
  position: relative;
  border-radius: 16px;
  height: 300px;
  margin-bottom: 14px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.cover-img {
  object-fit: cover;
  width:100%;
  height:100%;
  object-position: bottom;
}

.heart-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(255,255,255,0.3);
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4d6d;
  transition: all 0.2s ease;
&&:hover { 
  color: #ff2e4a; 
  background: rgba(255,77,109,0.2); 
}
}
.card-content { 
  color: #3e1f0d;
span{
  font-size: 11px;
  color: #ff7f50;
  font-family: 'Courier New', monospace;
  text-transform: uppercase;
}
span,h2,.artist{
    margin-bottom: 4px;
}
h2{
  font-size: 20px;
  font-weight: bold;
  color: #ff4d00;
}
.artist {
  color: rgba(62,31,13,0.8);
  margin: 0 0 4px;
}
.duration {
  font-size: 11px;
  color: rgba(62,31,13,0.6);
  font-family: 'Courier New', monospace;
}
 }
.play-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ef4c01;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  opacity: 0;
  transition: 0.3s ease;
}

.card:hover .play-btn {
  opacity: 1;
}
