* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 40px 20px; 
        background: linear-gradient(135deg, #fff2e6, #ffd3a6)
}